

<form action="" method="post" class="form-horizontal">
    <div class="row">
        <h1 class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 page_title ">SIGN IN</h1>
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 register">
        <div class="form-group">
            <label for="userId" class="col-sm-3 control-label">UserName：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="userId" placeholder="請輸入ID" value="@ViewBag.userId">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="userPassword" class="col-sm-3 control-label">Password：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="password" class="form-control" name="userPassword" placeholder="請輸入密碼" value="@ViewBag.userPassword">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 col-xs-12">
                <button type="reset" class="btn btn-default btn-block">
                    <b>&nbsp&nbsp清空&nbsp&nbsp</b>
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                </button>
            </div>
            <div class="col-md-3 col-xs-12">
                <button type="submit" class="btn btn-default btn-block">
                    <b>&nbsp&nbsp送出&nbsp&nbsp</b>
                    <span class="glyphicon glyphicon-arrow-right" style="color:green"></span>
                </button>
            </div>
            <div class="col-md-3 col-xs-12">
                <label style="color:red ;font-size:18px">@ViewBag.show</label>
            </div>
            </div>
        
           </div>
</form>