<!DOCTYPE html>
<html>
<head>
    <title>藏書管理清單</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-with,initial-scal=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 14px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #000000;
        }

        span {
            color: plum;
        }

        body {
            padding-top: 50px;
        }

        h1 {
            color: #fff;
        }

        #content {
            width: 100%;
            min-height: 600px;
            background: url(../img/slide-books.png)no-repeat fixed;
            background-size: cover;
            padding-top: 20px;
            color: #fff;
        }

        .register {
            padding: 20px;
            font-weight: 700;
            border: #0026ff solid 1px;
            -moz-border-radius: 10px; /* Gecko browsers */
            -webkit-border-radius: 10px; /* Webkit browsers */
            border-radius: 10px; /* W3C syntax */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index" title="Home">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/BookList"><span class="glyphicon glyphicon-list-alt"></span>BookLists</a></li>
                    <li><a href="~/Home/EditBook"><span class="glyphicon glyphicon-book"></span>EditBook</a></li>
                    <li><a href="~/Home/Registered"><span class="glyphicon glyphicon-tasks"></span>Registered</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["userId"].ToString() == "")
                    {
                        <li><a href="~/Home/Login"><span class="glyphicon glyphicon-off"></span>Sign in</a></li>
                    }
                    else
                    {
                        <li><a href="~/Home/Logout"><span class="glyphicon glyphicon-off"></span>Sign out</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div id="content">
        <div class="container">

            @RenderBody()

        </div>
    </div>
</body>
</html>